@media (max-width: 575px) {
	.navbar,
	.actions {
	  display: none;
	}
	 main {
    margin-top: 130px;
  }
  .publi > img {
      width: 100%;
  }
  .intro > img {
      width: 100%;
  }
  .promo > video {
      width: 100%;
  }
  .publish {
    margin-top: 10px;
  }
  .publish > h3 {
    font-size: 25px;
    line-height: 1.2px;
}
  }
